{% if  errors is defined %}
    <div class="container">
        <ul>
            {% for error in errors %}
                <li>
                    <div class="alert alert-danger" role="alert">
                        {{ error.propertyPath }} - {{ error.message }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}